### <span style = ' color : magenta '> 01-Creating a File </span>

In [1]:
create_file_1 = open(r'C:\Users\the\OneDrive - ISANS\the-Personal\20240509data\4-Python\test_file.txt', 'x')

In [2]:
write_file_1 = open(r'C:\Users\the\OneDrive - ISANS\the-Personal\20240509data\4-Python\test_file.csv', 'w')

### <span style = ' color : magenta '> 02-Reading, Writing, and Closing files </span>

In [12]:
write_file_2 = open(r'C:\Users\taohe\OneDrive - ISANS\the-Personal\20240509data\4-Python\test_file.txt', 'w')
write_file_2.write('Write this file by Python!!')

27

In [20]:
write_file_2.close()

In [17]:
read_file_2 = open(r'C:\Users\taohe\OneDrive - ISANS\the-Personal\20240509data\4-Python\test_file.txt', 'r')
print(read_file_2.read())

Write this file by Python!!

### <span style = ' color : magenta '> context managers </span>

In [18]:
 with open(r'C:\Users\taohe\OneDrive - ISANS\the-Personal\20240509data\4-Python\test_file_2.txt', 'w') as test_file_2:
     test_file_2.write('Using context manager!')

In [25]:
 with open(r'C:\Users\taohe\OneDrive - ISANS\the-Personal\20240509data\4-Python\test_file_2.txt', 'w') as test_file_2:
     test_file_2.write('Using context manager again!!')

In [26]:
 with open(r'C:\Users\taohe\OneDrive - ISANS\the-Personal\20240509data\4-Python\test_file_2.txt', 'r') as test_file_2:
    print(test_file_2.read())

Using context manager again!!

### <span style = ' color : magenta '> writing and appending in a file </span>

In [39]:
text_3 = """
This is 1st line!
This is 2nd line!
"""
with open(r'C:\Users\taohe\OneDrive - ISANS\the-Personal\20240509data\4-Python\test_file_3.txt', 'w') as write_file_3:
     write_file_3.write(text_3)

In [40]:
with open(r'C:\Users\taohe\OneDrive - ISANS\the-Personal\20240509data\4-Python\test_file_3.txt', 'r') as read_file_3:
     print(read_file_3.read())

This is 1st line!
This is 2nd line!

In [41]:
text_3_append = """This is 3rd line!
This is 4th line!
"""
with open(r'C:\Users\taohe\OneDrive - ISANS\the-Personal\20240509data\4-Python\test_file_3.txt', 'a') as append_file_3:
     append_file_3.write(text_3_append)

In [42]:
with open(r'C:\Users\taohe\OneDrive - ISANS\the-Personal\20240509data\4-Python\test_file_3.txt', 'r') as read_file_3:
     print(read_file_3.read())

This is 1st line!
This is 2nd line!
This is 3rd line!
This is 4th line!

In [3]:
import csv
colum_names = ['Name', 'Job', 'Age']
data_1 = [['Alex', 'Data Analyst', '29'], ['Andy', 'Data Scientist', 45], ['Tom', 'IT Specialist', '24']]
with open(r'C:\Users\taohe\OneDrive - ISANS\the-Personal\20240509data\4-Python\csv_test.csv', 'w', newline = '') as csv_write_file:
    csv_writer_1 = csv.writer(csv_write_file)
    csv_writer_1.writerow(colum_names)
    csv_writer_1.writerows(data_1)

In [19]:
import csv
colum_names2 = ['Name', 'Job', 'Age']
my_dict3 = [{'Name':'Alex', 'Job':'Data Engineer', 'Age':'29'}, 
            {'Name':'Andy', 'Job':'Data Scientist', 'Age':45}, 
            {'Name':'Tom', 'Job':'IT Specialist', 'Age':'24'}]
with open(r'C:\Users\taohe\OneDrive - ISANS\the-Personal\20240509data\4-Python\csv_test2.csv', 'w', newline = '') as csv_write_file2:
    csv_writer_2 = csv.DictWriter(csv_write_file2, colum_names2)
    csv_writer_2.writeheader()
    csv_writer_2.writerows(my_dict3)

In [20]:
import json
colum_names2 = ['Name', 'Job', 'Age']
my_dict4 = [{'Name':'Alex', 'Job':'Data Engineer', 'Age':'29'}, 
            {'Name':'Andy', 'Job':'Data Scientist', 'Age':45}, 
            {'Name':'Tom', 'Job':'IT Specialist', 'Age':'24'}]
with open(r'C:\Users\taohe\OneDrive - ISANS\the-Personal\20240509data\4-Python\json_test.json', 'w', newline = '') as json_write_file:
    json.dump(my_dict4, json_write_file)

### <span style = ' color : magenta '> Creating a Folder </span>

In [21]:
import os
os.mkdir(r'C:\Users\taohe\OneDrive - ISANS\the-Personal\20240509data\4-Python\test_folder')

In [26]:
if not os.path.exists(r'C:\Users\taohe\OneDrive - ISANS\the-Personal\20240509data\4-Python\test_folder2'):
    os.makedirs(r'C:\Users\taohe\OneDrive - ISANS\the-Personal\20240509data\4-Python\test_folder2\sub_1\sub_2')

In [27]:
os.makedirs(r'C:\Users\taohe\OneDrive - ISANS\the-Personal\20240509data\4-Python\test_folder2\sub_1\sub_2')

### <span style = ' color : magenta '> Copying and Moving Files </span>

In [28]:
import os
import shutil

In [35]:
path = r'C:\Users\taohe\OneDrive - ISANS\the-Personal\20240509data\4-Python\csv_test2.csv'

In [32]:
shutil.move(path,r'C:\Users\taohe\OneDrive - ISANS\the-Personal\20240509data\4-Python\test_folder\csv_test_2.csv')

'C:\\Users\\taohe\\OneDrive - ISANS\\the-Personal\\20240509data\\4-Python\\test_folder\\csv_test_2.csv'

In [37]:
shutil.copy(path,r'C:\Users\taohe\OneDrive - ISANS\the-Personal\20240509data\4-Python\test_folder2\csv_test2_changed.csv')

'C:\\Users\\taohe\\OneDrive - ISANS\\the-Personal\\20240509data\\4-Python\\test_folder2\\csv_test2_changed.csv'

### <span style = ' color : magenta '> Open Files with Pandas </span>

In [40]:
import pandas as pd
df = pd.read_csv(r'C:\Users\taohe\OneDrive - ISANS\the-Personal\20240509data\4-Python\countries of the world.csv')
df

             Country                               Region
0       Afghanistan         ASIA (EX. NEAR EAST)
1           Albania   EASTERN EUROPE
2           Algeria   NORTHERN AFRICA
3    American Samoa   OCEANIA
4           Andorra   WESTERN EUROPE
..               ...                                  ...
222       West Bank   NEAR EAST
223  Western Sahara   NORTHERN AFRICA
224           Yemen   NEAR EAST
225          Zambia   SUB-SAHARAN AFRICA
226        Zimbabwe   SUB-SAHARAN AFRICA

[227 rows x 2 columns]

In [42]:
# pd.set_option('display.max.rows', 230)

pd.reset_option('display.max_rows')

df

             Country                               Region
0       Afghanistan         ASIA (EX. NEAR EAST)
1           Albania   EASTERN EUROPE
2           Algeria   NORTHERN AFRICA
3    American Samoa   OCEANIA
4           Andorra   WESTERN EUROPE
..               ...                                  ...
222       West Bank   NEAR EAST
223  Western Sahara   NORTHERN AFRICA
224           Yemen   NEAR EAST
225          Zambia   SUB-SAHARAN AFRICA
226        Zimbabwe   SUB-SAHARAN AFRICA

[227 rows x 2 columns]

In [43]:
df2 = pd.read_json(r'C:\Users\taohe\OneDrive - ISANS\the-Personal\20240509data\4-Python\json_sample.json')
df2

,12 Strong,A Fantastic Woman (Una Mujer Fantástica),All The Money In The World,Bilal: A New Breed Of Hero,Call Me By Your Name,Darkest Hour,Den Of Thieves,Ferdinand,Fifty Shades Freed,Film Stars Don'T Die In Liverpool,...,The 15:17 To Paris,The Commuter,The Disaster Artist,The Greatest Showman,The Insult (L'Insulte),The Post,The Shape Of Water,"Three Billboards Outside Ebbing, Missouri",Till The End Of The World,Winchester
0,"{'Genre': 'Action', 'Gross': '$453,173', 'IMDB...","{'popcornscore': 83, 'rating': 'R', 'tomatosco...","{'popcornscore': 71, 'rating': 'R', 'tomatosco...","{'popcornscore': 91, 'rating': 'PG13', 'tomato...","{'popcornscore': 87, 'rating': 'R', 'tomatosco...","{'popcornscore': 84, 'rating': 'PG13', 'tomato...","{'Genre': 'Action', 'Gross': '$491,898', 'IMDB...","{'popcornscore': 49, 'rating': 'PG', 'tomatosc...","{'Genre': 'Drama', 'Gross': 'unknown', 'IMDB M...","{'popcornscore': 69, 'rating': 'R', 'tomatosco...",...,"{'Genre': 'Drama', 'Gross': 'unknown', 'IMDB M...","{'popcornscore': 48, 'rating': 'PG13', 'tomato...","{'popcornscore': 89, 'rating': 'R', 'tomatosco...","{'Genre': 'Biography', 'Gross': '$627,248', 'I...","{'popcornscore': 86, 'rating': 'R', 'tomatosco...","{'Genre': 'Biography', 'Gross': '$463,228', 'I...","{'Genre': 'Adventure', 'Gross': '$448,287', 'I...","{'popcornscore': 87, 'rating': 'R', 'tomatosco...","{'popcornscore': -1, 'rating': 'NR', 'tomatosc...","{'Genre': 'Biography', 'Gross': '$696,786', 'I..."

In [46]:
df3 = pd.read_excel(r'C:\Users\taohe\OneDrive - ISANS\the-Personal\20240509data\4-Python\world_population_excel_workbook.xlsx',sheet_name = 'Sheet1')
df3

     Rank CCA3            Country           Capital
0      36  AFG        Afghanistan             Kabul
1     138  ALB            Albania            Tirana
2      34  DZA            Algeria           Algiers
3     213  ASM     American Samoa         Pago Pago
4     203  AND            Andorra  Andorra la Vella
..    ...  ...                ...               ...
229   226  WLF  Wallis and Futuna          Mata-Utu
230   172  ESH     Western Sahara         El AaiÃºn
231    46  YEM              Yemen             Sanaa
232    63  ZMB             Zambia            Lusaka
233    74  ZWE           Zimbabwe            Harare

[234 rows x 4 columns]

### <span style = ' color : magenta '> Manipulating Data in a DataFrame </span>

### <span style = ' color : magenta '> Exporting Data using Pandas </span>